.container {
    display: flex;
    padding: 0 2rem;
    margin: 1rem 0;
    background-color: #ddd;
    justify-self: center;
    width: 80vw;
}

.contents {
    width: 100%;
    display: flex;
    min-width: 80vw;
    justify-content: left;
    flex-wrap: wrap;
    gap: 1rem;
    padding: 1rem 0;
    overflow-y: auto;
}


.separator {
    margin: 2rem auto;
}

.separator:empty::before {
    content: "\00a0";
    display: block;
}
.split {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    justify-content: space-between
}

.split>p,
.split>div {
    flex: 1;
}

.img-cropped {
    width: 28rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 8px;
}

.img-cropped-wide {
    width: 38rem;
    height: 15rem;
    object-fit: cover;
    border-radius: 8px;
}

.img-cropped-small {
    width: 18rem;
    height: 25rem;
    object-fit: cover;
    border-radius: 8px;
}